detectron2_env
model
uploads
outputs
.idea
.env
sendgrid.env
emails

backend/static/results/*
!backend/static/results/.gitkeep
backend/utils/__pycache__/__init__.cpython-39.pyc
backend/utils/__pycache__/summary_helper.cpython-39.pyc

backend/static/frontend