.idea
.env
nohup.out
__pycache__

detectron2_env


backend/model/*
!backend/model/.gitkeep

backend/uploads/*
!backend/uploads/.gitkeep

backend/outputs/*
!backend/outputs/.gitkeep

backend/static/results/*
!backend/static/results/.gitkeep

backend/static/frontend/*
!backend/static/frontend/.gitkeep
